
*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    justify-content:center;
    align-items: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.search{
    content: " ";
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width o.3s ease;
}

.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
}

.input{
    opacity: 0;
}

.search.active .input{
    width: 200px;
    opacity: 1;
}   